.intro-bg {
  background-image: url(../images/snake-5.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 90vh;

}

.control-bg {
  background-image: url(../images/game-control.jpg);
  background-size: cover;
  background-position: 30% 10%;
  height: 80vh;
}

.responsive-bg {
  background-image: url(../images/responsive2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

@media (max-width: 960px) {
  .intro-bg {
    background-image: url(../images/snake-5.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 60vh;
  }

  .control-bg {
    background-image: url(../images/game-control.jpg);
    background-size: cover;
    background-position: 30% 10%;
    height: 40vh;
  }

  .responsive-bg {
    background-image: url(../images/responsive2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
  }
}

@media (max-width: 446px) {
  .intro-bg {
    background-image: url(../images/snake-5.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 40vh;
  }

  .control-bg {
    background-image: url(../images/game-control.jpg);
    background-size: cover;
    background-position: 30% 10%;
    height: 40vh;
  }

  .responsive-bg {
    background-image: url(../images/responsive2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
  }
}